fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic[email]==2.10.4
python-dotenv==1.0.1
motor==3.6.0
mongomock-motor==0.0.34
twilio==9.4.4

# Needed for TestClient / test scripts
httpx==0.28.1
pytest==8.3.4
pytest-asyncio==0.25.2
